version: 2.1

orbs:
  rok8s-scripts: fairwinds/rok8s-scripts@11

executors:
  golang-exec:
    docker:
      - image: circleci/golang:1.14-stretch

jobs:
  test:
    working_directory: /go/src/github.com/fairwindsops/gemini

    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: |
          go get -u golang.org/x/lint/golint
          go list ./... | grep -v types | xargs golint -set_exit_status
          go list ./... | grep -v types | xargs go vet
          go get -u gotest.tools/gotestsum
          mkdir -p /tmp/test-results/go
          gotestsum --junitfile /tmp/test-results/go/results.xml -- ./pkg/... -cover -covermode atomic -coverpkg=./... -coverprofile=coverage.txt
          bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  test:
    jobs:
      - test
      - rok8s-scripts/docker_build_and_push:
          name: build-container
          docker-push: false
          docker-login: false
          password-variable: "dne"
          enable_docker_layer_caching: false
          config_file: .circleci/build.config
          requires:
            - test
          filters:
            branches:
              only: /pull\/[0-9]+/
      - rok8s-scripts/docker_build_and_push:
          name: build-and-push-container
          docker-push: true
          enable_docker_layer_caching: false
          config_file: .circleci/build.config
          context: org-global
          docker-login: true
          password-variable: "fairwinds_quay_token"
          registry: quay.io
          username: fairwinds+circleci
          requires:
            - test
          filters:
            branches:
              ignore: /pull\/[0-9]+/

  release:
    jobs:
      - rok8s-scripts/docker_build_and_push:
          name: build-and-push-container
          docker-push: true
          enable_docker_layer_caching: false
          config_file: .circleci/build.config
          context: org-global
          docker-login: true
          password-variable: "fairwinds_quay_token"
          registry: quay.io
          username: fairwinds+circleci
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
